@font-face {
  font-family: 'White';
  src:
    url('./font/Regular.woff') format('woff'),
    url('./font/Medium.woff') format('woff'),
    url('./font/Light.woff') format('woff');
}

@font-face {
  font-family: 'Typewriter-RegularItalic';
  src:
    url('./font/Typewriter-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: "SuttonSignWritingLine";
  src:
    local('SuttonSignWritingLine'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingLine.ttf') format('truetype');
}

@font-face {
  font-family: "SuttonSignWritingFill";
  src:
    local('SuttonSignWritingFill'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingFill.ttf') format('truetype');
}

@font-face {
  font-family: "SuttonSignWritingOneD";
  src:
    local('SuttonSignWritingOneD'),
    url('https://unpkg.com/@sutton-signwriting/font-ttf@1.0.0/font/SuttonSignWritingOneD.ttf') format('truetype');
}


body {
  margin: 0;
  font-family: 'White', sans-serif !important;
  font-style: normal !important;
  font-weight: 200 !important;
  line-height: 110% !important;
  letter-spacing: normal !important;
  color: white!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2727; 
  overflow: auto !important;
  overflow-y: scroll;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  color: rgb(65, 65, 65);
}

a:hover {
  color: #ff69b4;
}

a:visited {
  color: rgb(102, 102, 102);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #2d2727; ;
  -webkit-box-shadow: inset 0 0 6px #2d2727; ;
  background-color: #2d2727; ;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #e4e7e4;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border: 1px solid white;
}

.dot>div>div>div {
  width: 1px !important;
  height: 1px !important;
  background-color: white !important;
}

.dot>div {
  z-index: 999 !important;
}

#hsbar_text:hover{
  font-size: 16px !important;
}

#hsbar>g:hover{
  -ms-transform: translate(0, 20%);
  transform: translate(0, 20%);
}

#hsbar>g>text{
  font-family: 'Typewriter-RegularItalic', monospace !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

#hsbar_text{
  font-family: 'Typewriter-RegularItalic', monospace !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

video{
  background-color: #2d2727 !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-bottom-left {
  display: none;
}

.mapboxgl-map {
  border: 1px solid rgba(255, 233, 91, .6);
  padding: 0.2em;
  /* background: rgb(39, 38, 38); */
  max-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.mapboxgl-ctrl button.mapboxgl-ctrl-fullscreen .mapboxgl-ctrl-icon {
  background-color: #a13a34;
}

.welcome {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.95em;
  font-weight: 300;
  position: relative;
  z-index: 998 !important;
  pointer-events: none;
}

.title-container {
  max-height: 6vh;
  height: 6vh;
  position: relative;
  margin: auto;
  z-index: 998 !important;
}

.title {
  font-family: 'SuttonSignWritingLine', 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.40em;
  line-height: 0.8;
  letter-spacing: 1px;
  text-align: center;
  color: #e4e7e4;
  margin: 0;
  position: absolute;
  width: 12vh;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgb(39, 38, 38);
  border-radius: 25px;
  padding: 18px;
}

.signL {
  font-family: 'White', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  text-align: center;
  /* border-width: 5px;
  border-style: solid; */
  border-radius: 6px;
  padding: 5px;
  width: 180px;
  height: 60px;
}

.signM {
  font-size: 12px !important;
  line-height: 1.2 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  width: 80% !important;
}

.logo {
  background: url("../public/logo512.png") no-repeat;
  background-repeat: no-repeat;
  background-size: 42px 42px;
  width: 42px;
  height: 42px;
  position: fixed;
  margin-top: 3%;
  margin-left: 95%;
  z-index: 1;
}

.sentence {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
  font-size: 1.8em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  padding-bottom: 10px !important;
}

.sentencesans {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 200 !important;
  font-size: 0.8em !important;
  letter-spacing: 3px !important;
  line-height: 1.5em !important;
  padding-bottom: 10px !important;
}

.sentencetitle {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 3.6em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  padding-bottom: 10px !important;
}

.sentencetitleback {
  background: url( "../public/cover.svg" ) no-repeat;
  background-repeat: no-repeat;
  background-size: 7vw;
  background-attachment: fixed;
  background-position: bottom left;

}

.sentenceh2 {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 2.6em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  padding-bottom: 10px !important;
}

.colorized {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500 !important;
  font-size: 1.8em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  padding-bottom: 10px !important;
}

.africalang {
  background: url( "../public/africa.svg" ) no-repeat;
  background-repeat: no-repeat;
  background-size: 40vw;
  background-attachment: fixed;
  background-position: center center;
}

.title {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 8em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  position: absolute;
  z-index: 998;
  cursor: none;
}

.titleh2 {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400 !important;
  font-size: 4em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  position: absolute;
  z-index: 998;
  cursor: none;
  margin-top: 15% !important;
  text-align: right;
}

.notemap {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
  font-weight: 100 !important;
  font-size: 0.08em !important;
  letter-spacing: 5px !important;
  line-height: 1em !important;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(114, 114, 114);
  text-shadow:
    10px 10px rgba(146, 145, 145, 0.1) !important;
  padding-bottom: 20px !important;
  /* text-align: center; */
  animation: opacity 2s ease-in-out infinite alternate;
  opacity: 1;
  position: absolute;
  z-index: 998;
  padding: 10px;
}

.card {
  overflow: auto;
  z-index: 990;
}

.cardTitle {
  font-family: 'Typewriter-RegularItalic', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  font-size: 3em;
  line-height: 0.8;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cardsubTitle {
  font-family: 'White', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.45em;
  line-height: 1.2;
  /* letter-spacing: 1px; */
  margin-top: 10px;
  margin-bottom: 30px;
}

.cardContent {
  /* font-family: 'Space Mono', monospace !important; */
  font-weight: 200 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2em;
  line-height: 140%;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 15px;
}

.infoContent {
  /* font-family: 'Space Mono', monospace !important; */
  font-weight: 200 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1em;
  line-height: 1.1em;
  letter-spacing: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
}

.buttons {
  -ms-transform: translate(0%, -100%);
  transform: translate(0%, -100%);
  float: left;
  position: relative;
  z-index: 999;
  display: flex;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  font-family: 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em !important;
  color: #e4e7e4 !important;
  background-color: rgb(39, 38, 38) !important;
  z-index: 999 !important;
  border-radius: 8px !important;
  left: 15px !important;
}

.css-1ujsas3 {
  font-family: 'VT323', monospace !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2em !important;
  color: #e4e7e4 !important;
  background-color: rgb(39, 38, 38) !important;
  z-index: 999 !important;
  border-radius: 8px !important;
  left: 15px !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  margin-left: 90% !important;
}

.css-1yxmbwk {
  margin-left: 90% !important;
}

.css-1wnsr1i {
  overflow: auto;
  top: 45% !important;
  left: 22% !important;
  height: 75vh;
  font-family: 'Space Mono', monospace !important;
  box-shadow: none !important;
  --mask:
    linear-gradient(#000 0 0) 50%/calc(100% - 9.25px) calc(100% - 9.25px) no-repeat,
    radial-gradient(farthest-side, #000 98%, #0000) 0 0/10px 10px round;
  -webkit-mask: var(--mask);
  mask: var(--mask);
  border: 10px solid rgb(39, 38, 38) !important;
}

.mapboxgl-popup {
  display: block !important;
}

.mapboxgl-popup-content {
  background: none !important;
  height: 100% !important;
  overflow-y: auto !important;
  touch-action: pan-y !important;
  background-color: white!important;
  color: #2d2727;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup.mapboxgl-popup-anchor-center {
  transform: none !important;
  width: 500px !important;
  max-width: 600px !important;
  height: auto;
  top: 2vh;
  left: 2vw;
  z-index: 999;
  box-shadow: none !important;
  border-radius: 5px !important;
  padding: 8px;
  border: 1px solid white;
}

.mapboxgl-popup-close-button {
  font-size: 30px !important;
  position: fixed !important;
  padding: 6px 15px !important;
}

.MuiTypography-h6 {
  font-family: 'Space Mono', monospace !important;
}

#modal-modal-title-title {
  font-weight: 900 !important;
  line-height: 1.25em !important;
  text-transform: uppercase !important;
}

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

#modal-modal-footer {
  font-family: 'Cutive Mono', monospace !important;
  margin-top: 5em;
  font-weight: 900 !important;
  line-height: 1.25em !important;
  font-size: 0.8em;
  cursor: help !important;
  text-align: center !important;
}

#modal-modal-footer a {
  text-decoration: none !important;
  cursor: help !important;
}

p.MuiTypography-body1 {
  font-family: 'Space Mono', monospace !important;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8em;
  line-height: 1.35em;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1000px) {
  .mapboxgl-ctrl-top-right {
    display: none;
  }

  .mapboxgl-ctrl-bottom-right {
    display: none;
  }

  .css-1wnsr1i {
    top: 48% !important;
    left: 50% !important;
    max-width: 60% !important;
  }

  .mapboxgl-popup.mapboxgl-popup-anchor-center {
    width: 800px !important;
    max-width: 90% !important;
  }

  .colorized {
    font-size: 1em !important;
    letter-spacing: 1px !important;
  }

  #hsbar_text {
    font-size: 10px !important;
  }

  .sentencesans {
    font-size: 9px !important;
    letter-spacing: 2px !important;
    line-height: 1.4em !important;  
  }

  .sentencetitle{
    font-size: 2em !important;
  }

  .sentencetitleback{
    background-size: 15vw;
  }

  .africalang {
    background-size: 80vw;
  }
}